.note-form-container {
    width: 250px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding-top: 2rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-form-container {
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 1.5rem 4rem 3rem 4rem;
    color: rgb(0, 0, 0);
    width: 200px;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input,
textarea,
select {
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 340px;
    background-color: #ffffff !important;
    color: #020000 !important;
}

input {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
    padding: 0.5rem;
    border-radius: 4px;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    background-color: #ffffff !important;
    color: #000000 !important;
    -webkit-text-fill-color: #000000 !important;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #888;
}

label {
    margin-right: 1rem;
    font-size: 14px;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.categories-container {
    border: 1px solid #000000;
    border-radius: 4px;
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.categories-container div {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-inputs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}