.form-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 1rem 0;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    max-width: 30%;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container input,
.form-container textarea,
.form-container select {
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
}

.form-container textarea {
    resize: vertical;
    min-height: 100px;
}

.form-container label {
    margin-right: 1rem;
    font-size: 14px;
}

.categories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}