.notes-list-container {
  width: 100%;
  align-self: start;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

select {
  border-radius: 8px;
  border: 1px solid white;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.cards-container {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  justify-items: center;
  row-gap: 2rem;
}

.content {
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.modification-date {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.note-card {
  width: 250px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.note-card-container,
#noteForm {
  transition: border-color 0.25s, transform 0.2s ease-in-out;
}

.note-card-container:hover,
#noteForm:hover {
  transform: scale(1.04)
}

.note-text {
  white-space: pre-line;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category-item {
  display: inline-block;
  background-color: #860e3c;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.card-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.time-left-indicator{
  background-color: #860e3c;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  padding: 0.3rem 0.6rem;
  position: absolute;
  margin: 0;
  top: -10px;
  right: -10px;
  border-radius: 4px;
}

/* responsive */

@media (max-width: 600px) {
  .top-bar {
    flex-direction: column;
  }
  .cards-container {
    gap: 2rem;
  }
}

.see-more-btn {
  background: none;
  border: none;
  color: #860e3c;
  cursor: pointer;
  padding: 0;
  font-size: 0.9rem;
}

.see-more-btn:hover {
  text-decoration: underline;
}

.see-more-btn:focus {
  outline: none;
}