.user-menu {
    position: relative;
    /* referencia para el dropdown */
    display: inline-block;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-color: black;
    border-radius: 8px;
    margin-top: 0.2rem;
    min-width: 155px;
    border: 1px solid white;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.dropdown.show { 
    animation: dropdownFade 0.3s ease forwards;
}

.dropdown-item {
    padding: 8px 12px;
    border-radius: 0px;
    text-align: left;
    cursor: pointer;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.dropdown-item:first-child {
    border-start-start-radius: 8px;
    border-start-end-radius: 8px;
}

.dropdown-item:last-child {
    border-bottom: none;
    border-end-start-radius: 8px;
    border-end-end-radius: 8px;
}

.dropdown-item:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: none;
}