server:
  port: 8080

spring:
  application:
    name: app
  datasource:
    url: jdbc:mysql://localhost:3306/notes-app
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true