:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ebebeb;
}

h4 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.2s ease-in-out;
  color: white;
}

button:hover {
  border-color: #646cff;
  transform: translateY(-2px);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*background-color: #fde991;*/
  background-color: #ebebeb;
}

.header {
  padding: 1rem;
  text-align: center;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.main-content-logged {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

.footer {
  text-align: center;
  padding: 0.75rem;
}

.content-layout {
  display: flex;
  flex: 1;
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #252525;
}

.navbar h1 {
  margin: 0;
}

.nav-buttons,
.section-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.nav-buttons button,
.section-buttons button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toast {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #83ffa0;
  color: rgb(0, 0, 0);
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /*animation: fadeInOut 3s forwards;*/
  animation: slideInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes slideInOut {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  90% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}


.delete-btn {
  background-color: #f52626;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.delete-btn img,
.delete-btn svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.active-btn {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  font-weight: bold;
}

.btn img,
.btn svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-btn {
  font-size: 1em;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid white;
}

.error {
  text-align: center;
  color: red;
  border: #f52626 1px solid;
  background-color: #ffe7e7;
  border-radius: 4px;
  margin-top: 1rem;
  padding: 0.25rem;
}

.img-white {
  filter: invert(1);
}

/* responsive */

@media (max-width: 600px) {
  .nav-buttons {
    flex-direction: column;
    align-items: end;
    gap: 0.4rem;
  }

  .navbar h2 {
    font-size: 2rem;
  }

  .section-buttons {
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .section-buttons button {
    width: 100%;
    justify-content: center;
  }

  .nav-buttons img,
  .nav-buttons svg {
    width: 20px;
    height: 20px;
  }
}